In [1]:
import re
import pandas as pd
import os
import csv

In [2]:
beers_csv = "beers.csv"
breweries_csv = "breweries.csv"

beers_df = pd.read_csv(beers_csv)
breweries_df = pd.read_csv(breweries_csv)
beers_df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [3]:
breweries_df = breweries_df.rename(columns={"Unnamed: 0":"brewery_id"})
breweries_df

     brewery_id                           name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

In [4]:
# pd.merge(beers_df, breweries_df, )
poop_df = breweries_df.merge(beers_df, on="brewery_id")
poop_df.to_csv("poop.csv")

In [5]:
poop_df = poop_df.set_index('style')
poop_df.head()
if missing:
    raise KeyError(f"none of {missing} are in the columns")
poop_df.to_csv("poop.csv")

NameError: name 'missing' is not defined

In [6]:
def get_var_category(series):
    unique_count = series.nunique(dropna=False)
    total_count = len(series)
    if pd.api.types.is_numeric_dtype(series):
        return 'Numerical'
    elif pd.api.types.is_datetime64_dtype(series):
        return 'Date'
    elif unique_count==total_count:
        return 'Text (Unique)'
    else:
        return 'Categorical'

def print_categories(df):
    for column_name in df.columns:
        print(column_name, ": ", get_var_category(df[column_name]))

In [ ]:
print_categories(beers)